:root{
    --main-background-color: #8eb4e0;
    --main-background-color-darker: #387bc8;
    --main-background-color-lighter: #b0cae9;
    --main-text-color: #eeaeca;
    --main-text-select-color: #f3c6da;
    /*light gray color*/
    --text-color-lightgray: #ffffffbe;
    --text-color-lightgray-lighter: #e6e6e6;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(142,180,224,1) 100%);
    font-family: 'Source Code Pro', monospace;
    color: var(--main-text-color);
    -webkit-tap-highlight-color: var(--main-text-select-color);
}

.card {
    border: 3px solid;
    border-top-color: #b0cae9;
    border-left-color: #b0cae9;
    border-right-color: #6397d4;
    border-bottom-color: #6397d4;
    border-radius: 5%;
    background-color: #8eb4e0;
}

a{
    text-decoration: none;
    color: inherit;
}

.landing{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

::selection {
    color: var(--main-text-select-color);
    background: var(--main-background-color-lighter);
  }



