/*variables*/
:root {
    --amp-main-color: #7449f5;
    --amp-bg-color: #1c1b1e;
    --amp-dot-color: #3d3d3d;
    --infobox-bg-color: #18171a;
}










/*Basic configuration*/
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    color: inherit;
}










/*Mobile*/
.mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dee0e3;
    border-radius: 16px;
    border: 1px solid #c0cfe2;
    border-radius: 7px;
    height: 50%;
    min-height: 200px;
    width: 50%;
    min-width: 325px;
    display: none;
    flex-direction: column;
    overflow: hidden;
}
.mobilewebpage {
    height: calc(100% - 35px);
    width: 100%;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    line-height: 0;
    overflow-x: hidden;
}
.mobilewebpage h2 {
    font-size: 100%;
}
.mobilelinks {
    position: absolute;
    bottom: 15%;
    width: 25%;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}










/*Loader*/
@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .75s, visibility .75s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading .75s ease infinite;
}










/*Background*/
.container {
    background: url(/assets/background.jpeg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}










/*Taskbar*/
.taskbar {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 50px;
    width: 40%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    z-index: 100;
}










/*Taskbar icons*/
.icons {
    margin: 5px;
    padding: 0;
    margin-top: -30px;
    cursor: pointer;
    position: relative;
    transition: transform .2s ease-in-out;
}

.chromeicon {
    margin-top: -35px;
    height: 70px;
    width: 70px;
}
.chromeicon:hover{
    transform: translateY(-5px);
}


.terminalicon{
    height: 70px;
    width: 70px;
}
.terminalicon:hover{
    transform: translateY(-5px);
}


.gdeskicon{
    height: 70px;
    width: 70px;
}
.gdeskicon:hover{
    transform: translateY(-5px);
}




/*Circles under each icon*/
.circles{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    z-index: 99;
    transition: top .2s ease-in-out;
}

.chromecircle {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gdeskcircle{

}
.terminalcircle{

}








/*Applies to all windows*/
.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dee0e3;
    border-radius: 16px;
    border: 1px solid #c0cfe2;
    border-radius: 7px;
    height: 50%;
    min-height: 300px;
    width: 50%;
    min-width: 325px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.tab {
    background-color: white;
    margin-top: 10px;
    margin-left: 100px;
    height: 30px !important;
    width: 20%;
    min-width: 125px;
    max-width: 200px;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.topbar {
    background-color: white;
    height: 35px !important;
    width: 100%;
    display: flex;
    align-items: center;
}
#forward, #backward, #refresh, #options {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px;
    transition: background-color .2s ease-in-out;
}
#backward {
    margin-left: 10px;
}
#forward:hover, #backward:hover, #refresh:hover, #options:hover {
    background-color: #e4e6e9;
}
.searchbar {
    height: 20px;
    width: 90%;
    margin-left: 10px;
    border-radius: 10px;
    /*background color is #e4e6e9 but slightly lighter*/
    background-color: #e6e8eb;
}
.close, .minimize, .maximize {
    position: absolute;
    margin-top: 12.5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid;
}
.close {
    margin-left: 15px;
    background-color: #ff5f56;
    border-color: #e04f46;
}
.close:hover{
    background-color: #ff3d34;
    border-color: #e03a31;
}
.minimize {
    margin-left: 37.5px;
    background-color: #ffbd2e;
    border-color: #e0a12a;
}
.minimize:hover{
    background-color: #ff9f0a;
    border-color: #e08a09;
}
.maximize {
    margin-left: 60px;
    background-color: #27c93f;
    border-color: #1faa2e;
}
.maximize:hover{
    background-color: #05a81f;
    border-color: #04911c;
}
.webpage {
    height: 100%;
    width: 100%;
}












/*about me window + webpage*/
.aboutme {
    z-index: 5;
}
.aboutmepage {
    background-color: var(--amp-bg-color);
    background-image: radial-gradient(
        var(--amp-dot-color) 1px,
        transparent 1px
    );
    background-size: 60px 60px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amcontent {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amcontent h1 {
    font-size: 2em;
    font-weight: 600;
    width: 50%;
}
.aminfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}
.divider {
    height: 50%;
    width: 1px; 
    background-color: #f5f5f5;
}
.highlightlocation, .highlightage, .highlightname {
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 4px;
    color: var(--amp-main-color);
    font-size: 1.25em;
    position: relative;
    display: inline-block;
}
.infobox {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99998;
    width: fit-content;
    padding: 10px;
    line-height: 0;
    border-radius: 6px;
    background-color: var(--infobox-bg-color);
    color: #f5f5f5;
    font-size: 0.75em;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.highlightlocation:hover .infobox,
.highlightage:hover .infobox {
    opacity: 1;
    visibility: visible;
}









/*links window + webpage*/
.links {
    display: none;
}
.linkspage {
    background-color: var(--amp-bg-color);
    background-image: radial-gradient(
        var(--amp-dot-color) 1px,
        transparent 1px
    );
    background-size: 60px 60px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lcontent {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lcontent h1 {
    font-size: 2em;
    font-weight: 600;
    width: 50%;
}










/*what i know window + webpage*/
.whatiknow {
    display: none;
}
.whatiknowpage {
    background-color: var(--amp-bg-color);
    background-image: radial-gradient(
        var(--amp-dot-color) 1px,
        transparent 1px
    );
    background-size: 60px 60px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wikcontent {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wikcontent h1 {
    font-size: 2em;
    font-weight: 600;
    width: 50%;
}